<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Vue</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <link rel="stylesheet" href="style.css" class="css">
</head>
<body>
  <h1>Hello Vue :)</h1>

  <div id="app">
    <div v-if="showBooks">
      <p>{{ title }} - {{ author }} - {{ age }}</p>
    </div>

    <button @click="toogleShowBooks">
      <span v-if="showBooks">Hide Books</span>
      <span v-else>Show Books</span>
    </button>

    <br>
    <!-- mouse events -->
    <div class="box" @mouseover="handleEvent($event,5)">mouseover (enter)</div>
    <div class="box" @mouseleave="handleEvent">mouseleave</div>
    <div class="box" @dblclick="handleEvent">doubleclick</div>
    <div class="box" @mousemove="handleMousemove">position {{x}} , {{y}}</div>


  </div>


  <script src="app.js"></script>
</body>
</html>