<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Vue</title>
  <script src="https://unpkg.com/vue@3.0.2"></script>
  <link rel="stylesheet" href="style.css" class="css">
</head>
<body>
  <h1>Hello Vue :)</h1>

  <div id="app">
    <div v-if="showBooks">
      <!-- <p>{{ books[0].title }} - {{ books[1].author }}</p> -->
      <ul>
        <li v-for="book in books">
          <h3>{{book.title }}</h3>
          <p>{{book.author}}</p>

        </li>
      </ul>
    </div>

    <button @click="toogleShowBooks">
      <span v-if="showBooks">Hide Books</span>
      <span v-else>Show Books</span>
    </button>
  </div>


  <script src="app.js"></script>
</body>
</html>